@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
  background-color: #f9f9f9;
  height:100vh;
}

h1, h2, h3, h4, p, body {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

a {
  color: #40aac5;
}


p {
  font-size: 1.2em;
  font-weight: normal;
}

strong {
  font-weight: 900 !important;
  font-size: 1.2em;
}

img {
  min-width: 100%;
  min-height: 100%
}

.container-border {
  border-top: 15px solid #cecece;
}

.no-padding {
  min-height: 100%;
  padding: 0;
}

.text-padding {
  padding: 10px 50px 0 50px;
}

.top10 { margin-top:10px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }
.top50 { margin-top:50px; }
