@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.full {
  background: url(../img/mitch-eating-pizza.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, p, body, small {
  font-family: 'Crimson Text', serif;
  font-weight: normal !important;
  letter-spacing: .01em;
  color: #f6eeea !important;
}

small {
  font-size: 75% !important;
}

a {
  color: #f6eeea;
  text-decoration: none;
  position: relative;
}

a:hover {
  text-decoration: none;
  color: #8db4ce;
}

h1 a:hover {
  color: #8db4ce;
}

h1 a:after{
  content: "";
  border-bottom: 2px solid #f6eeea;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
}

h1 a:hover:after{
  content: "";
  border-bottom: 2px solid #8db4ce;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
}

span {
  opacity: .8;
}

.info {
  position:fixed;
  width:100%;
  text-align: right;
  padding:0 20px 20px 20px;
  bottom: 0px;
  color: white;
  background-color: rgba(0,0,0,.1)
}
