@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	color: #333;
	font-size: small;
}

.page {
	color: #000;
}

.lightfont {
	color: #999;
}

.xsmall {
	font-size: x-small;
	color: #666;
}

.darklink {
	color: #333;
}

.byline {
	text-align: right;
	font-size: x-small;
	font-style: italic;
	color: #666;
}

.vertical{
	margin:0px;
	bottom:0px;
	width:544px;
	float:left;
	height:100%;
	padding-right: 5px;
	padding-left: 5px;
}

.horizontal{
	margin:0px;
	bottom:0px;
	width:1088px;
	float:left;
	height:100%;
	padding-right: 5px;
	padding-left: 5px;
}

.square{
	margin:0px;
	bottom:0px;
	width:725px;
	float:left;
	height:100%;
	padding-right: 5px;
	padding-left: 5px;
}

A:link {
	color: #666;
	text-decoration: none;
}
A:visited {
	color: #666;
}
A:active {
}
A:hover {
	color: #333;
	text-decoration: none;
}


h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	padding-bottom: 0px;
	padding-top: 0px;
	vertical-align: 50%;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000;
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: #000;
	font-weight: lighter;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#bottom {

}
#logo {
	position: absolute;
}

#header {
	text-align: left;
	width: 230px;
    position:absolute;
	background-color: #FFF;
	height: 100%;
	padding-top: 35px;
	padding-left: 10px;
	padding-right: 10px;
	color: #333;

}

#aboutHeader {
	text-align: left;
	position: fixed;
	width: 230px;
	background-color: #FFF;
	height: 750px;
	padding-top: 35px;
	padding-left: 10px;
	padding-right: 10px;
	color: #333;

}

#portfolio {
	text-align: left;
	overflow-x: scroll, hidden;
	height: 100%;
	margin-left: 245px;
	padding-top: 15px;
	float: left;
}

#about {
	margin-left: 285px;
	margin-top: 15px;
	float: left;
	width: 350px;
	padding-left: 5px;
}

#text {
	padding-right: 10px;
	padding-left: 10px;
}


