/* MITCHBOYER.COM CSS */

body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  font-family: 'Open Sans', 'Gotham,' "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  font-weight:300;
  line-height:150%;
}

h2 {
  margin:0;
  padding:0;
}

#wrapper {
  width:100%;
    margin:0 auto;
}

#header {
  margin:65px auto;
  width:450px;
  text-align:center;
  font-size:14px;
}

#header .logo {
  margin:0 auto;
  height:70px;
  width:400px;
  background-image:url('images/mb_logo.png');
  background-size:400px 70px;
  background-repeat:no-repeat;
  z-index: 0;
}

#header a {
  color:#000;
  font-weight:300;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

#header a:hover {
  color:#256099;
  font-weight:300;
}

#footer {
  text-align:center;
  font-size:12px;
  overflow:hidden;
  margin:0 auto;
  padding-top:10px;
  width:100%;
}

#intro {
  margin:0 auto;
  width:700px;
  height:250px;
  
}

#social {
  text-align:center;
  padding:100px 0;
}

/* PORTFOLIO ITEMS */


.portfolio-item h2 {
  font-weight:400;
  font-size:175%;
  padding-bottom:5px;
}

.portfolio-item a {
  text-decoration:none;
}

.portfolio-item {
  margin:0 0 100px;
  width:100%;
  height:300px;
  display: table;
  position: relative;
}

.portfolio-wrapper {
  height:100%;
  width:960px;
  display: table-cell;
  vertical-align: middle;
}

.portfolio-text {
  margin:0 auto;
  width:380px;
  background-color:rgba(242, 242, 242, 0.87);
  color:#333;
  border-radius:3px;
  text-align:center;
  padding:10px 20px;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.about-text {
  margin:0 auto 100px;
  width:380px;
  color:#333;
  border-radius:3px;
  border:1px solid rgb(230, 230, 230);
  text-align:center;
  padding:10px 20px;
}

.about-text p {
  text-align:justify;
}

.about-text a {
  color:#333;
  font-weight:300;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.about-text a:hover {
  color:#256099;
  font-weight:300;
}

.portfolio-text:hover {
  color:#f2f2f2;
  background-color:rgba(0, 0, 0, 0.7);
}

/* PORTFOLIO PICS */

.swear-jar-pic {
  background:url(images/subway.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear:both;
}

.whatsbetter-pic {
  background:url(images/whatsbetter.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear:both;
}

.reel-pic {
  background:url(images/reel.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear:both;
}

.yl-pic {
  background:url(images/young-love.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear:both;
}

.photofolio-pic {
  background:url(images/photofolio2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear:both;
}

.resume-pic {
  background:url(images/resume4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear:both;
}

.social-buttons {
  width:40px;
  height:40px;
  padding:0 5px 20px;
  opacity:.8;
}


/* RESPONSIVE DESIGN */

/* PHONE */

@media screen and (max-width:480px) {
  #header {
    width:300px;
    font-size:12px;
  }
  
  .portfolio-text {
    width:280px;
    font-size:12px;
    padding:5px 10px;
  }
  
  .about-text {
    width:280px;
    padding:5px 10px;
  }
  
  .about-text h1 {
    font-size:26px;
  }
  
  #footer {
    width:260px;
  }
  
  #header .logo {
    height:50px;
    width:300px;
    background-size:300px;
  }

}


